<section class="content-header" style="padding:0.5%  !important">
    <div class="row mb-2">
        <div class="col-md-6">
            <button nz-button [nzType]="'primary'" class="btn btn-primary h-100" style="float: left;" (click)="newTab()"><span><i
                        class="fas fa-plus"></i>&nbsp;Tạo
                    mới hóa đơn</span></button>
        </div>
        <div class="col-md-6">
            <button nz-button [nzType]="'primary'" class="btn btn-primary h-100" style="float: right;"><span><i class="fas fa-edit"></i>&nbsp;QR
                    Code cho sản phẩm</span></button>
        </div>
    </div>
</section>

<nz-tabset [(nzSelectedIndex)]="index" nzType="editable-card" nzHideAdd (nzClose)="closeTab($event)">
    <nz-tab *ngFor="let tab of tabs; let i = index" [nzClosable]="i > 0" [nzTitle]="tab.name">
        <h3 style="text-align: center;">{{tab.name}}</h3>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <section class="content cus-body">
                        <div class="card">
                            <div class="card-body">
                                <div class="tab-content">
                                    <div class="col-md-12">
                                        <h4 class="text-center">Thông tin khách hàng</h4>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label class="col-md-12 mb-1">Số điện thoại</label>
                                                <input type="text" class="form-control" placeholder="nhập..."
                                                    [(ngModel)]="orderInfo.phone">
                                            </div>
                                            <div class="col-md-6">
                                                <label class="col-md-12 mb-1">Khách hàng</label>
                                                <input type="text" class="form-control" placeholder="nhập..."
                                                    [(ngModel)]="orderInfo.cusomter_type">
                                            </div>
                                            <div class="col-md-12 mt-2">
                                                <label class="col-md-12 mb-1">Mã HĐ</label>
                                                <input type="text" class="form-control" placeholder="nhập..." readonly
                                                    [value]="orderInfo.order_code">
                                            </div>
                                            <div class="col-md-6 mt-2">
                                                <label class="col-md-12 mb-1">Người bán</label>
                                                <input type="text" class="form-control" placeholder="nhập..."
                                                    [(ngModel)]="orderInfo.seller">
                                            </div>
                                            <div class="col-md-6">
                                                <input type="text" class="form-control d-none" placeholder="nhập...">
                                            </div>
                                            <div class="col-md-6 mt-2">
                                                <label class="col-md-12 mb-1">Tỉnh/ Thành phố</label>
                                                <nz-select style="width: 100%;" nzShowSearch nzAllowClear
                                                    [(ngModel)]="citySelected" nzPlaceHolder="Chọn tỉnh"
                                                    (ngModelChange)="selectCity()">
                                                    <nz-option *ngFor="let c of listCity" [nzLabel]="c.ProvinceName"
                                                        [nzValue]="c.ProvinceID">
                                                        {{c.ProvinceName}}</nz-option>
                                                </nz-select>
                                                <label class="col-md-12 mt-2 mb-1">Quận/ Huyện</label>
                                                <nz-select style="width: 100%;" nzShowSearch nzAllowClear
                                                    [(ngModel)]="districtSelected" nzPlaceHolder="Chọn huyện"
                                                    (ngModelChange)="selectDistrict()">
                                                    <nz-option *ngFor="let c of listDistrict" [nzLabel]="c.DistrictName"
                                                        [nzValue]="c.DistrictID">
                                                        {{c.DistrictName}}</nz-option>
                                                </nz-select>
                                                <label class="col-md-12 mt-2 mb-1">Xã</label>
                                                <nz-select style="width: 100%;" nzShowSearch nzAllowClear
                                                    [(ngModel)]="townSelected" nzPlaceHolder="Chọn xã"
                                                    (ngModelChange)="selectWard()">
                                                    <nz-option *ngFor="let c of listWard" [nzLabel]="c.WardName"
                                                        [nzValue]="c.WardCode">
                                                        {{c.WardName}}</nz-option>
                                                </nz-select>
                                            </div>
                                            <div class="col-md-6">
                                                <label class="col-md-12 mb-2">Địa chỉ chi tiết</label>
                                                <textarea nz-input placeholder="nhập..."
                                                    [nzAutosize]="{ minRows: 7, maxRows: 8 }"
                                                    [(ngModel)]="orderInfo.address"></textarea>
                                            </div>
                                            <div class="col-md-6 mt-3">
                                                <label class="col-md-12">Khuyến mãi</label>
                                                <nz-input-group nzAddOnAfter="%" placeholder="nhập...">
                                                    <input type="number" nz-input [(ngModel)]="orderInfo.coupon" />
                                                </nz-input-group>
                                            </div>
                                            <div class="col-md-6 mt-3">
                                                <label class="col-md-12">Tổng tiền</label>
                                                <nz-input-group nzAddOnAfter="VNĐ" placeholder="nhập...">
                                                    <input type="text" nz-input [(ngModel)]="totalPayment" disabled />
                                                </nz-input-group>
                                            </div>
                                            <div class="col-md-6 mt-2">
                                                <label class="col-md-12 mb-2">Phương thức mua hàng</label>
                                                <input type="text" class="form-control" [value]="orderInfo.bought_type"
                                                    disabled>
                                            </div>
                                            <div class="col-md-6 mt-2">
                                                <label class="col-md-12 mb-2">Phương thức thanh toán</label>
                                                <nz-select style="width: 100%;" nzShowSearch nzAllowClear
                                                    [(ngModel)]="orderInfo.payment_type" nzPlaceHolder="Chọn">
                                                    <nz-option nzLabel="Tiền mặt" [nzValue]="1">Tiền mặt</nz-option>
                                                    <nz-option nzLabel="Chuyển khoản" [nzValue]="2">Chuyển
                                                        khoản</nz-option>
                                                </nz-select>
                                            </div>
                                            <div class="col-md-12 mt-2">
                                                <label nz-checkbox [(ngModel)]="orderInfo.waiting">Chờ thanh
                                                    toán</label>
                                            </div>
                                            <div class="col-md-12 mt-3">
                                                <label class="col-md-12">Ghi chú</label>
                                                <textarea nz-input placeholder="nhập..." [(ngModel)]="orderInfo.note"
                                                    [nzAutosize]="{ minRows: 5, maxRows: 8 }"></textarea>
                                            </div>
                                            <div class="col-md-12" style="margin-top: 10px;">
                                                <button (click)="createOrder()" class="btn btn-primary h-100" style="float: right;" nz-button
                                                    nzType="default" nzPrimary>Tạo
                                                    hóa đơn</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-md-6">
                    <section class="content cus-body">
                        <div class="card">
                            <div class="card-body">
                                <div class="tab-content">
                                    <div class="col-md-12">
                                        <h4 class="text-center">Giỏ hàng</h4>
                                        <div class="row">
                                            <form class="form-inline">
                                                <div class="form-group mx-sm-3 mb-2">
                                                    <label for="inputPassword2" class="sr-only">Mã sản phẩm</label>
                                                    <input type="text" class="form-control" id="inputPassword2"
                                                        placeholder="Mã sản phẩm" [(ngModel)]="product_code"
                                                        [ngModelOptions]="{standalone: true}">
                                                </div>
                                                <button type="submit" class="btn btn-primary mb-2"
                                                    (click)="addToCart()">Thêm giỏ hàng</button>
                                            </form>
                                            <div class="table-responsive table-hover table-sales">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">#</th>
                                                            <th scope="col">Tên sản phẩm</th>
                                                            <th scope="col">Số lượng</th>
                                                            <th scope="col">Size</th>
                                                            <th scope="col">Màu sắc</th>
                                                            <th scope="col">Đơn giá</th>
                                                            <th scope="col">Trạng thái</th>
                                                            <th scope="col">Thao tác</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let c of listProductCart; let i=index">
                                                            <th scope="row">{{i+1}}</th>
                                                            <td>{{c.product_name}}</td>
                                                            <td><input style="width: 50px;" type="number"
                                                                    [(ngModel)]="c.amountCart">/{{c.amount}}
                                                            </td>
                                                            <td>{{c.size}}</td>
                                                            <td>
                                                                <div [style.backgroundColor]="c.color"
                                                                    style="width: 20px; height: 20px;"></div>
                                                            </td>
                                                            <td>{{ c.price | number }}</td>
                                                            <td
                                                                [style]="c.status == 1 ? 'font-weight: bold; color: green' : 'font-weight: bold;color:yellow'">
                                                                {{c.status == 1 ? 'Mới' : 'Cũ'}}</td>
                                                            <td><a href="javascript:void(0)" (click)="deleteCart(c)"
                                                                    style="font-weight: bold; color: red;"><i
                                                                        class="fa fa-times" aria-hidden="true"></i>
                                                                </a>
                                                                &nbsp;&nbsp;&nbsp;&nbsp;
                                                                <a href="javascript:void(0)" (click)="changeAmount(c)"
                                                                    style="font-weight: bold; color: green;"><i
                                                                        class="fa fa-check" aria-hidden="true"></i></a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </nz-tab>
</nz-tabset>