<div class="content">
    <div class="panel-header bg-primary-gradient">
        <div class="page-inner py-5">
            <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
                <div>
                    <h2 class="text-white pb-2 fw-bold">Hoá đơn</h2>
                    <h5 class="text-white op-7 mb-2">Trang chủ/Admin/Hoá đơn</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="page-inner mt--5">
        <div class="row mt--2">
            <div class="col-md-12">
                <div class="card full-height">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive table-hover table-sales">
                                    <div class="row">
                                        <div class="col-4">
                                            <label style="font-weight: bold;">Trạng thái đơn hàng</label>
                                            <select class="form-control" placeholder="Lọc theo trạng thái" [(ngModel)]="selectedStatus" (change)="filter()">
                                                <option value="" >Tất cả</option>
                                                <option *ngFor="let c of filterStatusOrder" [value]="c.status">{{c.name}}</option>
                                            </select>
                                        </div>
                                        <div class="col-4"></div>
                                        <div class="col-4">
                                            <label style="font-weight: bold;">Tìm kiếm nhanh</label>
                                            <input type="text" style="float: right; margin-bottom: 10px;"
                                        placeholder="Tìm kiếm nhanh..." class="form-control" [(ngModel)]="searchString"
                                        [ngModelOptions]="{standalone: true}">
                                        </div>
                                    </div>      
                                    <nz-table #basicTable [nzData]="listOrder" style="margin-top: 10px;">
                                        <thead>
                                            <tr>
                                                <th>Mã HĐ</th>
                                                <th>Khách hàng</th>
                                                <th>SĐT</th>
                                                <th>Địa chỉ</th>
                                                <th>Trạng thái</th>
                                                <th>Loại thanh toán</th>
                                                <th>Tổng tiền</th>
                                                <th>Ngày đặt</th>
                                                <th>Thời gian hủy</th>
                                                <th>Hành động</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let data of basicTable.data | filter:searchString">
                                                <td>HD00{{ data.order_id }}</td>
                                                <td>{{data.full_name}}</td>
                                                <td>{{data.phone}}</td>
                                                <td>{{data.city_name}} - {{data.district_name}} - {{data.ward_name}}
                                                </td>
                                                <td [style]="
                                                    data.status == 0 ? 'font-weight: bold; color: #c7c726' : 
                                                    data.status == 1 ? 'font-weight: bold; color: green' : 
                                                    data.status == 2 ? 'font-weight: bold; color: green' : 
                                                    data.status == 3 ? 'font-weight: bold; color: green' : 
                                                    'font-weight: bold;color:red'">
                                                    {{data.status == 0 ? 'Chờ xác nhận' : data.status == 1 ? 'Chờ lấy
                                                    hàng' :
                                                    data.status == 2 ? 'Đang giao' : data.status == 3 ? 'Giao thành
                                                    công' :
                                                    'Đã huỷ'}}</td>
                                                
                                                <td
                                                    [style]="data.type_payment == 1 ? 'font-weight: bold; color: green' : 'font-weight: bold;color:yellow'">
                                                    {{data.status == 1 ? 'Tiền mặt' : 'Chuyển khoản'}}</td>
                                                <td>{{ data.total + data.fee_ship | number}}</td>
                                                <td>{{ data.created_at | date: 'dd/MM/yyyy'}}</td>
                                                <td>{{ data.deleted_at | date: 'dd/MM/yyyy'}}</td>
                                                <td>
                                                    
                                                    <a nz-dropdown [nzDropdownMenu]="menu"
                                                        style="margin-right: 0.5rem;">
                                                        <button class="btn btn-sm btn-outline-warning" placement="left"
                                                            style="margin-right: 0.1rem;" nzType="dashed">
                                                            <i class="fas fa-pencil-alt"></i>
                                                        </button>
                                                    </a>
                                                    <nz-dropdown-menu #menu="nzDropdownMenu">
                                                        <ul nz-menu nzSelectable>
                                                            <li *ngFor="let item of statusOrder" (click)="confirmStatus(data, item)" nz-menu-item
                                                                [nzDisabled]="isStatusDisabled(item.status)">
                                                                {{item.name}}</li>
                                                        </ul>
                                                    </nz-dropdown-menu>
                                                    <button class="btn btn-sm btn-outline-primary" placement="left"
                                                        nzType="dashed" (click)="showDetail(data)">
                                                        <i class="fas fa-eye"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </nz-table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<nz-modal [(nzVisible)]="isDisplay" nzTitle="Giỏ hàng" (nzOnCancel)="handleCancel()" [nzWidth]="1000">
    <ng-container *nzModalContent>
        <ul class="summary-prices list-unstyled mb-4">
            <li class="d-flex justify-content-between">
                <span>Tạm tính:</span>
                <span class="h5">{{orderInfo.total | number}} VNĐ</span>
            </li>
            <li class="d-flex justify-content-between">
                <span>Phí vận chuyển:</span>
                <span class="h5">{{orderInfo.fee_ship | number}} VNĐ</span>
            </li>
            <li class="d-flex justify-content-between">
                <span>Thành tiền</span>
                <span class="h5">{{orderInfo.total + orderInfo.fee_ship | number}} VNĐ</span>
            </li>
        </ul>
        <nz-table #basicTable [nzData]="listProductCart">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Sản phẩm</th>
                    <th>Size</th>
                    <th>Màu sắc</th>
                    <th>Đơn giá</th>
                    <th>Thành tiền</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of basicTable.data; let i=index">
                    <td>{{i+1}}</td>
                    <td>{{data.product_name}}</td>
                    <td>{{data.size}}</td>
                    <td><input type="color" value="{{data.color}}" disabled></td>
                    <td>{{data.price}}</td>
                    <td>{{data.total}}</td>
                </tr>
            </tbody>
        </nz-table>
    </ng-container>
</nz-modal>